/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Corpo da página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5ca85;
  font-family: 'Ruda', sans-serif;

}

/* Container principal */
.container {
  background-color: #f4f4f4c3;
  padding: 50px;
  width: 700px;
  border-radius: 100px 0 100px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

/* Título principal */
h1 {
  color: #f0a500;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Texto explicativo */
p {
  color: #6c757d;
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Alerta de sucesso */
.alert {
  background-color: #e98e26;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Botões */
button {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
  letter-spacing: 1px;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

button:focus {
  outline: none;
}

/* Estilo para o botão "Fechar" */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Estilo para o botão "Finalizar" */
.btn-primary {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-primary:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}